@import url("reset.css");
@import url("font.css");

$primary: #0f7bff;
$black: #191919;
$grey: #727272;
$l-grey: #acacac;

$m: "only screen and (max-width : 580px)";

html {
  font-family: "NotoSans", sans-serif;
  font-size: 10px;
  color: $black;
  -ms-overflow-style: none;
  @media #{only screen and (max-width: 375px)} {
    & {
      font-size: 9px;
    }
  }
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  user-select: none;
}

// #app {
//   padding-bottom: calc(env(safe-area-inset-bottom) - 20px);
// }

.m {
  &-b {
    &--5 {
      margin-bottom: 5px !important;
    }
    &--10 {
      margin-bottom: 10px !important;
    }
    &--20 {
      margin-bottom: 20px !important;
    }
  }
  &-t {
    &--0 {
      margin-top: 0 !important;
    }
    &--5 {
      margin-top: 5px !important;
    }
    &--10 {
      margin-top: 10px !important;
    }
    &--15 {
      margin-top: 15px !important;
    }
  }
  &-l {
    &--5 {
      margin-left: 5px !important;
    }
    &--10 {
      margin-left: 10px !important;
    }
  }
}

.p {
  &--25 {
    padding: 25px;
  }
  &-t {
    &--0 {
      padding-top: 0 !important;
    }
    &--10 {
      padding-top: 10px;
    }
    &--20 {
      padding-top: 20px;
    }
    &--50 {
      padding-top: 50px;
    }
  }
  &-b {
    &--0 {
      padding-bottom: 0 !important;
    }
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-height {
    &--2 {
      line-height: 1.2;
    }
    &--3 {
      line-height: 1.3;
    }
  }
}

.float{
  &-right{
    float:right;
  }
}

.font {
  &-size {
    &--10 {
      font-size: 1rem;
    }
    &--12 {
      font-size: 1.2rem;
    }
    &--14 {
      font-size: 1.4rem;
    }
  }
  &-color {
    &--black {
      color: #000;
    }
    &--grey {
      color: $grey;
    }
    &--l-grey {
      color: $l-grey;
    }
    &--primary {
      color: $primary;
    }
    &--orange {
      color: #ff7d26;
    }
  }
  &-weight {
    &--3 {
      font-weight: 300;
    }
  }
}

.btn {
  font-family: "NotoSans", sans-serif;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  &.inline {
    display: inline-flex;
  }
  &-group {
    .btn {
      &-full {
        margin: 4px 0;
      }
      &-half {
        width: calc(50% - 5px);
        &:first-child {
          margin-right: 6px;
        }
      }
    }
  }
  &-half {
    height: 55px;
    font-size: 1.5rem;
    width: calc(50% - 8px);
  }
  &-full {
    width: 90%;
    height: 45px;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 400;
  }
  &-md {
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 400;
  }
  &-radius {
    border-radius: 15px;
  }
  &-gradient {
    background: linear-gradient(to right, #1c96ff, #4669ff);
    border: transparent;
    color: #fff;
    &:disabled {
      background: #bababa;
      color: #e1e1e1;
    }
  }
  &-primary {
    background: $primary;
    color: #fff;
    &:disabled {
      background: transparent;
      border: 1px solid $l-grey;
      color: $l-grey;
    }
  }
  &-grey {
    &.line {
      border: 1px solid $grey;
      background: transparent;
      color: $grey;
    }
  }
  &-l-grey {
    &.line {
      border: 1px solid $l-grey;
      background: transparent;
      color: $l-grey;
    }
  }
  &-underline {
    text-decoration: underline;
  }
  &-fix {
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 20px;
  }
  &-list {
    position: absolute;
    right: 15px;
    bottom: -5px;
    flex-direction: column;
    color: #0f7bff;
    font-size: 1.3rem;
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 40px;
      background: #e7e7e7;
      position: absolute;
      left: -13px;
      top: 0;
    }
    &.active {
      bottom: 30px;
      z-index: 999;
    }
    img {
      width: 19px;
      margin-bottom: 2px;
      filter: invert(50%) sepia(31%) saturate(6301%) hue-rotate(206deg)
        brightness(100%) contrast(102%);
    }
  }
  &-map {
    position: fixed;
    right: 20px;
    bottom: 30px;
    background: linear-gradient(to right, #36a8ff, #456aff);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    flex-direction: column;
    color: #fff;
    font-size: 1.3rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    img {
      width: 19px;
      margin-bottom: 2px;
      filter: invert(100%) sepia(47%) saturate(2%) hue-rotate(211deg)
        brightness(107%) contrast(100%);
    }
  }
  &-inquiry {
    color: #0f7bff;
    img {
      width: 15px;
      margin-right: 3px;
      filter: invert(31%) sepia(97%) saturate(1370%) hue-rotate(197deg)
        brightness(103%) contrast(103%);
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  .label {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    input {
      position: absolute;
      width: 0;
      height: 0;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      outline: none;
      // & + span {
      // 	cursor: pointer;
      // 	position: absolute;
      // 	width: 20px;
      // 	height: 20px;
      // 	background: url(../images/icon/check_off.svg)
      // 		no-repeat;
      // 	background-size: 100%;
      // }
      // &:checked + span {
      // 	background: url(../images/icon/check_on.svg)
      // 		no-repeat;
      // 	background-size: 100%;
      // }
    }
  }
  .text {
    padding: 0 20px 0 10px;
    line-height: 1.3;
    word-break: keep-all;
  }
  .btn {
    position: absolute;
    right: 10px;
  }
}

.switch {
  input {
    position: absolute;
    width: 0;
    height: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    & + span {
      display: block;
      width: 60px;
      height: 30px;
      background: #ddd;
      border-radius: 20px;
      position: relative;
      transition: all 0.3s;
      &:after {
        content: "";
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background: #fff;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all 0.3s;
      }
    }
    &:checked + span {
      background: $primary;
      &:after {
        left: calc(100% - 28px);
      }
    }
  }
}

.check {
  &-list {
    overflow: hidden;
  }
  &-wrap {
    display: block;
    width: calc(50% - 6px);
    float: left;
    margin: 0 12px 12px 0;
    &:nth-child(even) {
      margin-right: 0;
    }
    input {
      width: 0;
      height: 0;
      position: absolute;
      &:checked + .text {
        background-image: linear-gradient(#fff, #fff),
          linear-gradient(to right, #456aff, #1c96ff);
        color: #000;
      }
    }
    .text {
      font-size: 1.5rem;
      color: #898989;
      text-align: center;
      padding: 2px;
      background-image: linear-gradient(#fff, #fff),
        linear-gradient(to right, #ededed, #ededed);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-radius: 20px;
      width: 100%;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.wrap {
  max-width: 767px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  &.pc {
    max-width: unset;
    .header {
      height: 120px;
      padding: 0 30px;
      justify-content: space-between;
      .btn.faq {
        font-size: 1.6rem;
        color: #0f7bff;
        border: 1px solid #0f7bff;
        height: 35px;
        padding: 0 25px;
        border-radius: 20px;
      }
      .logo {
        width: 58px;
        height: 65px;
        background: url(../images/logo.svg) no-repeat center;
        background-size: 100%;
        a {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      @media #{$m} {
        & {
          justify-content: center;
          position: sticky !important;
          height: 70px;
          .btn.faq {
            width: 55px;
            height: 55px;
            border-radius: 30px;
            line-height: 1.3;
            padding: 5px 0 0;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            border: none;
            font-size: 1.2rem;
            position: absolute;
            right: 20px;
            top: 9px;
          }
          .btn.back {
            position: absolute;
            left: 20px;
            top: calc(50% - 10px);
            width: 14px;
            height: 20px;
            background: url(../images/icon/arrow_left.svg) no-repeat center;
            background-size: 100%;
            filter: invert(85%) sepia(9%) saturate(209%) hue-rotate(175deg)
              brightness(95%) contrast(83%);
          }
          .logo {
            width: 50px;
          }
        }
      }
    }
    .content {
      max-width: 1200px;
      margin: 0 auto;
      .info {
        &-list {
          &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.8rem;
            line-height: 1.4;
            .strong {
              font-size: 2.4rem;
            }
            .tit {
              font-size: 4.2rem;
              font-weight: 700;
            }
            .text-right {
              text-align: right;
            }
            img {
              width: 500px;
            }
            .text {
              width: 500px;
            }
            &.bg {
              position: relative;
              &:before {
                content: "";
                display: block;
                width: calc(100vw - 17px);
                height: 300px;
                background: #0f7bff;
                position: absolute;
                z-index: -1;
              }
              .text {
                color: #fff;
                .strong {
                  font-size: 3.4rem;
                }
              }
            }
            @media #{only screen and (max-width: 1000px)} {
              & {
                flex-direction: column;
                text-align: center;
                margin-bottom: 20px;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                  flex-direction: column-reverse;
                }
                .text-right {
                  text-align: center;
                }
                img {
                  width: 80%;
                  margin-top: -10vw;
                }
                &.bg {
                  &:before {
                    top: -50px;
                    height: 500px;
                  }
                }
              }
            }
            @media #{$m} {
              & {
                font-size: 2rem;
                .tit {
                  font-size: 3.5rem;
                }
                .strong {
                  font-size: 2.4rem;
                }
                img {
                  width: 100%;
                  margin-top: -50px;
                }
                .text {
                  width: 100%;
                }
                &.bg {
                  .text .strong {
                    font-size: 3rem;
                  }
                  &::before {
                    top: -30px;
                    width: 100vw;
                    height: 80vw;
                  }
                }
              }
            }
          }
        }
        &-bottom {
          margin: 30px 0;
          .link-list {
            text-align: center;
            margin: 25px 0 10px;
            font-size: 1.5rem;
            a {
              margin: 0 10px;
              color: #3a3a3a;
              font-weight: 400;
              white-space: nowrap;
            }
            @media #{$m} {
              & {
                a {
                  font-size: 1.4rem;
                }
              }
            }
          }
          p {
            text-align: center;
            color: #838383;
            font-size: 1.5rem;
            font-weight: 300;
            margin: 10px 0;
            @media #{$m} {
              & {
                font-size: 1.4rem;
              }
            }
          }
          &--list {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &--item {
            border: 1px solid #e8e8e8;
            display: inline-block;
            width: 30%;
            max-width: 110px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            border-radius: 30px;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 30px;
            }
            img {
              height: 30px;
            }
            @media #{$m} {
              & {
                height: 40px;
                max-width: 90px;
                img {
                  height: 25px;
                }
              }
            }
          }
        }
      }
    }
    .list-tit {
      font-size: 2.4rem;
      border-bottom: none;
      padding-bottom: 25px;
      @media #{$m} {
        & {
          font-size: 2rem;
        }
      }
    }
    .accordion-list--item {
      border-bottom: none;
    }
    .accordion-list--item .btn-tit {
      border: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 15px 20px 15px 90px;
      position: relative;
      font-size: 2rem;
      .q {
        position: absolute;
        left: 35px;
        top: 9px;
        font-size: 2.4rem;
        font-weight: bold;
        color: #0f7bff;
      }
      @media #{$m} {
        & {
          font-size: 1.6rem;
          padding: 9px 20px 10px 35px;
          .q {
            top: 5px;
            left: 10px;
            font-size: 2rem;
          }
        }
      }
    }
    .accordion-list--item .con {
      margin-bottom: 10px;
      border-top: none;
      padding: 0 20px 0 90px;
      position: relative;
      font-size: 2rem;
      font-weight: 300;
      transition: unset;
      .a {
        position: absolute;
        left: 38px;
        top: 20%;
        font-size: 2.4rem;
        font-weight: bold;
        color: #ff7d26;
      }
      @media #{$m} {
        & {
          padding: 0 20px 0 35px;
          font-size: 1.6rem;
          .a {
            top: 12%;
            left: 12px;
            font-size: 2rem;
          }
        }
      }
    }
    .accordion-list--item .btn-tit.active {
      color: #0c0c0c;
    }
    .accordion-list--item .btn-tit.active + .con {
      border-top: none;
      padding: 20px 20px 20px 90px;
      @media #{$m} {
        & {
          padding: 20px 20px 20px 35px;
        }
      }
    }
    .footer {
      background: #e2e5ea;
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-wrap {
        width: 1200px;
        position: relative;
        padding: 0 20px;
      }
      &-info {
        margin-top: 10px;
        @media #{$m} {
          & {
            margin-top: 20px;
          }
        }
        &--wrap {
          color: #808080;
          font-size: 1.4rem;
          font-weight: 300;
        }
        &--item {
          display: inline-flex;
          margin-right: 35px;
          position: relative;
          .m-none {
            margin: 0 3px;
          }
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 13px;
            background: #808080;
            position: absolute;
            right: -19px;
            top: 2px;
          }
          &:last-child:after {
            display: none;
          }
          @media #{$m} {
            & {
              display: flex;
              margin: 5px 0;
              .label {
                width: 110px;
                color: #969696;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
      &-logo {
        width: 58px;
        height: 65px;
        background: url(../images/logo_black.svg) no-repeat center;
        background-size: 100%;
        position: absolute;
        right: 20px;
        top: -10px;
        filter: invert(75%) sepia(11%) saturate(96%) hue-rotate(174deg)
          brightness(85%) contrast(92%);
        @media #{$m} {
          & {
            width: 40px;
            height: 44px;
            top: 0;
          }
        }
      }
    }
  }
  &.splash {
    background: #0f7bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    position: relative;
    .logo {
      svg {
        width: 20vw;
        filter: invert(100%) sepia(12%) saturate(7451%) hue-rotate(217deg)
          brightness(116%) contrast(111%);
      }
    }
    .greeting {
      font-size: 2.4rem;
      text-align: center;
      line-height: 1.5;
      font-weight: 700;
      margin-bottom: 80px;
    }
    .btn {
      height: 50px;
      &-myhome {
        padding: 0 30px;
        background: #fff;
        color: #0f7bff;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
        img {
          filter: invert(44%) sepia(50%) saturate(5903%) hue-rotate(201deg)
            brightness(98%) contrast(106%);
          width: 13px;
          margin-right: 7px;
        }
      }
      &-review {
        font-weight: 400;
        font-size: 1.6rem;
        width: 70%;
        background: #308dff;
        position: absolute;
        left: 15%;
        bottom: 30px;
        color: #fff;
      }
      &-login {
        font-weight: 400;
        font-size: 1.6rem;
        width: 70%;
        background: #fff;
        position: absolute;
        left: 15%;
        bottom: 100px;
        color: #0f7bff;
      }
      &.naver {
        &:before {
          content: "";
          display: inline-block;
          background: url(../images/icon/logo_naver.svg) no-repeat center;
          background-size: 100%;
          width: 18px;
          height: 20px;
          margin: 3px 5px 0 0;
        }
      }
      &.kakao {
        &:before {
          content: "";
          display: inline-block;
          background: url(../images/icon/logo_kakao.svg) no-repeat center;
          background-size: 100%;
          width: 18px;
          height: 20px;
          margin: 3px 5px 0 0;
        }
      }
      &.apple {
        &:before {
          content: "";
          display: inline-block;
          background: url(../images/icon/logo_apple.svg) no-repeat center;
          background-size: 100%;
          width: 18px;
          height: 24px;
          margin: 0px 5px 0 0;
        }
      }
    }
    .main-btn {
      width: 100%;
      margin-left: 30%;
      .btn {
        font-weight: 400;
        font-size: 1.6rem;
        width: 70%;
        background: #fff;
        color: #0f7bff;
        margin-bottom: 20px;
      }
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .wrap {
    min-height: -webkit-fill-available;
    // height: -webkit-fill-available;
  }

  html,
  body {
    position: fixed;
    overflow: hidden;
  }

  #app {
    width: 100vw;
    height: -webkit-fill-available;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
  }

  .review-list--item .bottom .btn {
    color: #000;
    white-space: nowrap;
  }

  .vue-picker__opener-txt,
  .vue-picker-option {
    color: #000;
    outline: none;
  }
  .content {
    min-height: unset !important;
  }

  .map-wrap {
    max-height: calc(100vh - 330px);
    overflow: hidden;
  }

  .question-menu {
    height: -webkit-fill-available;
  }

  .btn {
    padding: 0;
  }
  .btn-md {
    padding: 10px 15px;
  }
  .question-menu .menu-list--item {
    white-space: nowrap;
  }
  .accordion-list--item .btn-tit {
    color: #000;
  }
  .text-list--item .tit {
    color: #000;
  }
  .vue-picker-option {
    font-size: 1.4rem;
  }
}

.question-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  transition: all 0.3s;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  &.right{
    .menu-list{
      left:unset;
      right:20px;
      border-radius: 20px 0 20px 20px;
    }
  }
  &.active {
    z-index: 99;
    opacity: 1;
  }
  .dim {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }
  .menu-list {
    background: #fff;
    position: absolute;
    left: 20px;
    top: 50px;
    z-index: 100;
    padding: 0 10px;
    border-radius: 0 20px 20px 20px;
    &--item {
      padding: 15px 10px;
      border-bottom: 1px solid #e7e7e7;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      &:last-child {
        border-bottom: none;
      }
      img {
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}

.header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
  &-tit {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .search {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    background: url(../images/icon/search.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0;
  }
  .input {
    border: none;
    outline: none;
    width: 70%;
    font-size: 1.4rem;
    font-weight: 600;
    &::placeholder {
      color: #cbcbcb;
      font-weight: 400;
    }
  }
  .btn-star {
    position: absolute;
    right: 20px;
    top: calc(50% - 12px);
    width: 25px;
    height: 25px;
    border-radius: 0;
    background: url(../images/icon/star_line.svg) no-repeat;
    background-size: 100%;
    filter: invert(85%) sepia(60%) saturate(2056%) hue-rotate(326deg)
      brightness(102%) contrast(101%);
    &.active {
      background: url(../images/icon/star.svg) no-repeat;
      background-size: 100%;
    }
  }
  .btn-search {
    width: 70%;
    border: 1px solid #eee;
    color: #bbb;
    font-weight: 300;
    font-size: 1.4rem;
    justify-content: left;
    height: 35px;
    padding: 0 10px;
    img {
      width: 18px;
      margin-right: 5px;
      opacity: 0.2;
    }
    &.text {
      color: #000;
      justify-content: center;
      font-weight: 400;
    }
  }
  .btn-back {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top: calc(50% - 10px);
    background: url(../images/icon/back.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0;
  }
  .btn-question {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 20px;
    top: calc(50% - 10px);
    background: url(../images/icon/question.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0;
    &.right{
      left:unset;
      right:20px;
    }
  }
  .btn-menu {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
    background: url(../images/icon/menu.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0;
  }
  .btn-close {
    width: 20px;
    height: 20px;
    background: url(../images/icon/close.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 20px;
    top: calc(50% - 10px);
  }
  .right {
    position: absolute;
    right: 20px;
  }
}

.content {
  padding: 20px;
  min-height: calc(100vh - 50px);
  &.bg {
    background: #eff1f5;
    &-grey {
      background: #f8f8f8;
      border-top: 1px solid #e7e7e7;
    }
  }
  &.bottom-exist {
    padding-bottom: 100px;
  }
  &.top-exist {
    padding-top: 56px;
    padding-bottom: 0;
    height: 100vh;
  }
  &.keypad-exist {
    padding-bottom: 45vh;
  }
}

// @supports (-webkit-touch-callout: none) {
//   .content {
//     min-height: calc(70vh - 50px);
//     height: calc(70vh - 50px);
//   }
// }

.con-bottom {
  padding: 25px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 101;
  background: #fff;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  &.top {
    bottom: unset;
    top: 0;
    box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.3);
  }
  .review-top {
    top: 0;
  }
  .header-tit {
    width: 100%;
    text-align: center;
    text-indent: -10px;
  }
  .sale-info {
    display: flex;
    .img-wrap {
      width: 20vw;
      height: 20vw;
      overflow: hidden;
      background: #ccc;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        height: 100%;
      }
    }
    .info {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.5;
      font-size: 1.6rem;
      width: calc(100% - 20vw);
      .tit {
        margin-bottom: 6px;
      }
      .price-wrap {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        flex-direction: column;
        .low {
          color: #344baf;
          &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../images/icon/arrow_up.svg) no-repeat;
            background-size: 100%;
            transform: rotate(180deg);
            filter: invert(25%) sepia(81%) saturate(1336%) hue-rotate(207deg)
              brightness(91%) contrast(87%);
          }
        }
        .high {
          color: #f76666;
          &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url(../images/icon/arrow_up.svg) no-repeat;
            background-size: 100%;
            filter: invert(49%) sepia(45%) saturate(872%) hue-rotate(313deg)
              brightness(107%) contrast(94%);
          }
        }
        .price {
          margin-left: 5px;
          color: #000;
        }
      }
    }
  }
  .font-size--14 + .btn-list {
    right: -5px;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
  &.active {
    display: block;
  }
  &.alert {
    .popup-wrap {
      width: 90vw;
      height: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1001;
      background: #fff;
      border-radius: 10px;
    }
  }
  &-dim {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  &-con {
    text-align: center;
    padding: 40px 20px;
    .modi-capital {
      font-size: 1.5rem;
      line-height: 1.5;
      color: #666;
      .text-left{
        padding:0 15px 0 10px;
      }
      .box {
        background: #efefef;
        color: #000;
        font-size: 1.7rem;
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        & + .text-right {
          padding-right: 17px;
        }
        .num {
          font-family: "NotoSans", sans-serif;
          font-size: 1.7rem;
          border: none;
          outline: none;
          background: transparent;
          text-align: right;
          width: 80%;
          box-sizing: border-box;
        }
      }
    }
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border-top: 1.9px solid #eee;
    .btn {
      font-size: 1.5rem;
      width: 50%;
      padding: 10px 0;
      &.left {
        color: #828282;
      }
      &.right {
        color: #0f7bff;
      }
    }
  }
}

.dn {
  display: none;
}

.db {
  display: block;
}

.box-line {
  height: 10px;
  background: #f8f8f8;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 1px solid #dfdfdf;
  &.border-none {
    border-top: none;
  }
}

.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  filter: brightness(0);
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  transform: scale(0.5);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.m-block {
  display: none;
  @media #{$m} {
    & {
      display: block;
    }
  }
}
.m-none {
  display: block;
  @media #{$m} {
    & {
      display: none;
    }
  }
}
