<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <title>Howmuch HOMES</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript">
        toggleActive = (target) => {
            target.classList.toggle('active')
        }
    </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-225194578-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-225194578-1');
</script>
</head>
<body>
    <div class="wrap pc">
        <header class="header">
            <h1 class="logo"><a href="/"></a></h1>
            <button type="button" class="btn faq" onclick="location.href='faq' ">자주묻는<br class="m-block" />질문</button>
        </header>
        <div class="content">
            <ul class="info-list">
                <li class="info-list--item">
                    <img src="../images/info/1.png" alt="info1" />
                    <p class="text">
                        <strong class="strong">오롯이 내 집 마련을 위한</strong><br />
                        <strong class="tit">하우머치 홈즈</strong>
                    </p>
                </li>
                <li class="info-list--item">
                    <p class="text text-right">
                        예산부터 지역까지,<br />나만의 조건들을 반영해 알려줍니다.
                    </p>
                    <img src="../images/info/2.png" alt="info2" />
                </li>
                <li class="info-list--item bg">
                    <img src="../images/info/3.png" alt="info3" />
                    <p class="text">
                        <strong class="strong">단 3분! 내 집 마련</strong><br />
                        하우머치 홈즈와 함께라면 가능합니다.
                    </p>
                </li>
                <li class="info-list--item">
                    <p class="text text-right">
                        생각치도 못했던 매물이<br />나만의 집이 되는 이야기
                    </p>
                    <img src="../images/info/4.png" alt="info4" />
                </li>
                <li class="info-list--item">
                    <img src="../images/info/5.png" alt="info5" />
                    <p class="text">
                        <strong class="tit">하우머치 홈즈</strong>에서<br />
                        생생한 후기들을 직접 확인하세요.
                    </p>
                </li>
            </ul>
            <div class="info-bottom">
                <ul class="info-bottom--list">
                    <li class="info-bottom--item">
                        <a href="https://play.google.com/store/apps/details?id=com.hmhomes.how">
                            <img src="../images/icon/playstore.svg" alt="playstore" />
                        </a>
                    </li>
                    <li class="info-bottom--item">
                        <a href="https://apps.apple.com/kr/app/%ED%95%98%EC%9A%B0%EB%A8%B8%EC%B9%98-%ED%99%88%EC%A6%88/id1597057904">
                            <img src="../images/icon/appstore.svg" alt="appstore" />
                        </a>
                    </li>
                    <li class="info-bottom--item">
                        <a href="http://pf.kakao.com/_Pxavsb">
                            <img src="../images/icon/kakao.svg" alt="kakao" />
                        </a>
                    </li>
                </ul>
                <div class="link-list">
                    <a href="#">이용약관</a>
                    <a href="#">개인정보취급방침</a>
                    <a href="#">광고제휴문의</a>
                </div>
                <p>이메일 : support@hmhomes.kr</p>
                <p>전화번호 : 1577-2996</p>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-wrap">
                <div class="footer-info--wrap">
                    <strong>(주)하우머치</strong>
                    <ul class="footer-info">
                        <li class="footer-info--item"><span class="label">대표</span> <span class="m-none">:</span> 황종원</li>
			<li class="footer-info--item"><span class="label">담당자</span> <span class="m-none">:</span> 황민지</li>
                        <li class="footer-info--item"><span class="label">사업자등록번호</span> <span class="m-none">:</span> 662-86-01664</li>
                        <li class="footer-info--item"><span class="label">주소</span> <span class="m-none">:</span> 서울특별시 노원구 동일로 1642</li>
                        <li class="footer-info--item"><span class="label">대표전화</span> <span class="m-none">:</span> 1577-2996</li>
                    </ul>
                </div>
                <h2 class="footer-logo"></h2>
            </div>
        </footer>
    </div>
</body>
</html>