@charset "UTF-8";
@import url("reset.css");
@import url("font.css");
html {
  font-family: "NotoSans", sans-serif;
  font-size: 10px;
  color: #191919;
  -ms-overflow-style: none;
}

@media (max-width: 375px) {
  html {
    font-size: 9px;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.m-b--5 {
  margin-bottom: 5px !important;
}

.m-b--10 {
  margin-bottom: 10px !important;
}

.m-b--20 {
  margin-bottom: 20px !important;
}

.m-t--0 {
  margin-top: 0 !important;
}

.m-t--5 {
  margin-top: 5px !important;
}

.m-t--10 {
  margin-top: 10px !important;
}

.m-t--15 {
  margin-top: 15px !important;
}

.m-l--5 {
  margin-left: 5px !important;
}

.m-l--10 {
  margin-left: 10px !important;
}

.p--25 {
  padding: 25px;
}

.p-t--0 {
  padding-top: 0 !important;
}

.p-t--10 {
  padding-top: 10px;
}

.p-t--20 {
  padding-top: 20px;
}

.p-t--50 {
  padding-top: 50px;
}

.p-b--0 {
  padding-bottom: 0 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-height--2 {
  line-height: 1.2;
}

.text-height--3 {
  line-height: 1.3;
}

.float-right {
  float: right;
}

.font-size--10 {
  font-size: 1rem;
}

.font-size--12 {
  font-size: 1.2rem;
}

.font-size--14 {
  font-size: 1.4rem;
}

.font-color--black {
  color: #000;
}

.font-color--grey {
  color: #727272;
}

.font-color--l-grey {
  color: #acacac;
}

.font-color--primary {
  color: #0f7bff;
}

.font-color--orange {
  color: #ff7d26;
}

.font-weight--3 {
  font-weight: 300;
}

.btn {
  font-family: "NotoSans", sans-serif;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
}

.btn.inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn-group .btn-full {
  margin: 4px 0;
}

.btn-group .btn-half {
  width: calc(50% - 5px);
}

.btn-group .btn-half:first-child {
  margin-right: 6px;
}

.btn-half {
  height: 55px;
  font-size: 1.5rem;
  width: calc(50% - 8px);
}

.btn-full {
  width: 90%;
  height: 45px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn-md {
  padding: 10px 15px;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn-radius {
  border-radius: 15px;
}

.btn-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#1c96ff), to(#4669ff));
  background: linear-gradient(to right, #1c96ff, #4669ff);
  border: transparent;
  color: #fff;
}

.btn-gradient:disabled {
  background: #bababa;
  color: #e1e1e1;
}

.btn-primary {
  background: #0f7bff;
  color: #fff;
}

.btn-primary:disabled {
  background: transparent;
  border: 1px solid #acacac;
  color: #acacac;
}

.btn-grey.line {
  border: 1px solid #727272;
  background: transparent;
  color: #727272;
}

.btn-l-grey.line {
  border: 1px solid #acacac;
  background: transparent;
  color: #acacac;
}

.btn-underline {
  text-decoration: underline;
}

.btn-fix {
  position: fixed;
  width: 80%;
  left: 10%;
  bottom: 20px;
}

.btn-list {
  position: absolute;
  right: 15px;
  bottom: -5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0f7bff;
  font-size: 1.3rem;
}

.btn-list:after {
  content: "";
  display: block;
  width: 1px;
  height: 40px;
  background: #e7e7e7;
  position: absolute;
  left: -13px;
  top: 0;
}

.btn-list.active {
  bottom: 30px;
  z-index: 999;
}

.btn-list img {
  width: 19px;
  margin-bottom: 2px;
  -webkit-filter: invert(50%) sepia(31%) saturate(6301%) hue-rotate(206deg) brightness(100%) contrast(102%);
          filter: invert(50%) sepia(31%) saturate(6301%) hue-rotate(206deg) brightness(100%) contrast(102%);
}

.btn-map {
  position: fixed;
  right: 20px;
  bottom: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#36a8ff), to(#456aff));
  background: linear-gradient(to right, #36a8ff, #456aff);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 1.3rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-map img {
  width: 19px;
  margin-bottom: 2px;
  -webkit-filter: invert(100%) sepia(47%) saturate(2%) hue-rotate(211deg) brightness(107%) contrast(100%);
          filter: invert(100%) sepia(47%) saturate(2%) hue-rotate(211deg) brightness(107%) contrast(100%);
}

.btn-inquiry {
  color: #0f7bff;
}

.btn-inquiry img {
  width: 15px;
  margin-right: 3px;
  -webkit-filter: invert(31%) sepia(97%) saturate(1370%) hue-rotate(197deg) brightness(103%) contrast(103%);
          filter: invert(31%) sepia(97%) saturate(1370%) hue-rotate(197deg) brightness(103%) contrast(103%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.checkbox .label {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
}

.checkbox .label input {
  position: absolute;
  width: 0;
  height: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.checkbox .text {
  padding: 0 20px 0 10px;
  line-height: 1.3;
  word-break: keep-all;
}

.checkbox .btn {
  position: absolute;
  right: 10px;
}

.switch input {
  position: absolute;
  width: 0;
  height: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}

.switch input + span {
  display: block;
  width: 60px;
  height: 30px;
  background: #ddd;
  border-radius: 20px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch input + span:after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background: #fff;
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch input:checked + span {
  background: #0f7bff;
}

.switch input:checked + span:after {
  left: calc(100% - 28px);
}

.check-list {
  overflow: hidden;
}

.check-wrap {
  display: block;
  width: calc(50% - 6px);
  float: left;
  margin: 0 12px 12px 0;
}

.check-wrap:nth-child(even) {
  margin-right: 0;
}

.check-wrap input {
  width: 0;
  height: 0;
  position: absolute;
}

.check-wrap input:checked + .text {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#456aff), to(#1c96ff));
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #456aff, #1c96ff);
  color: #000;
}

.check-wrap .text {
  font-size: 1.5rem;
  color: #898989;
  text-align: center;
  padding: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#ededed), to(#ededed));
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #ededed, #ededed);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 20px;
  width: 100%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  max-width: 767px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.wrap.pc {
  max-width: unset;
}

.wrap.pc .header {
  height: 120px;
  padding: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap.pc .header .btn.faq {
  font-size: 1.6rem;
  color: #0f7bff;
  border: 1px solid #0f7bff;
  height: 35px;
  padding: 0 25px;
  border-radius: 20px;
}

.wrap.pc .header .logo {
  width: 58px;
  height: 65px;
  background: url(../images/logo.svg) no-repeat center;
  background-size: 100%;
}

.wrap.pc .header .logo a {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky !important;
    position: sticky !important;
    height: 70px;
  }
  .wrap.pc .header .btn.faq {
    width: 55px;
    height: 55px;
    border-radius: 30px;
    line-height: 1.3;
    padding: 5px 0 0;
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    top: 9px;
  }
  .wrap.pc .header .btn.back {
    position: absolute;
    left: 20px;
    top: calc(50% - 10px);
    width: 14px;
    height: 20px;
    background: url(../images/icon/arrow_left.svg) no-repeat center;
    background-size: 100%;
    -webkit-filter: invert(85%) sepia(9%) saturate(209%) hue-rotate(175deg) brightness(95%) contrast(83%);
            filter: invert(85%) sepia(9%) saturate(209%) hue-rotate(175deg) brightness(95%) contrast(83%);
  }
  .wrap.pc .header .logo {
    width: 50px;
  }
}

.wrap.pc .content {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap.pc .content .info-list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.8rem;
  line-height: 1.4;
}

.wrap.pc .content .info-list--item .strong {
  font-size: 2.4rem;
}

.wrap.pc .content .info-list--item .tit {
  font-size: 4.2rem;
  font-weight: 700;
}

.wrap.pc .content .info-list--item .text-right {
  text-align: right;
}

.wrap.pc .content .info-list--item img {
  width: 500px;
}

.wrap.pc .content .info-list--item .text {
  width: 500px;
}

.wrap.pc .content .info-list--item.bg {
  position: relative;
}

.wrap.pc .content .info-list--item.bg:before {
  content: "";
  display: block;
  width: calc(100vw - 17px);
  height: 300px;
  background: #0f7bff;
  position: absolute;
  z-index: -1;
}

.wrap.pc .content .info-list--item.bg .text {
  color: #fff;
}

.wrap.pc .content .info-list--item.bg .text .strong {
  font-size: 3.4rem;
}

@media (max-width: 1000px) {
  .wrap.pc .content .info-list--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .wrap.pc .content .info-list--item:nth-child(1), .wrap.pc .content .info-list--item:nth-child(3), .wrap.pc .content .info-list--item:nth-child(5) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .wrap.pc .content .info-list--item .text-right {
    text-align: center;
  }
  .wrap.pc .content .info-list--item img {
    width: 80%;
    margin-top: -10vw;
  }
  .wrap.pc .content .info-list--item.bg:before {
    top: -50px;
    height: 500px;
  }
}

@media only screen and (max-width: 580px) {
  .wrap.pc .content .info-list--item {
    font-size: 2rem;
  }
  .wrap.pc .content .info-list--item .tit {
    font-size: 3.5rem;
  }
  .wrap.pc .content .info-list--item .strong {
    font-size: 2.4rem;
  }
  .wrap.pc .content .info-list--item img {
    width: 100%;
    margin-top: -50px;
  }
  .wrap.pc .content .info-list--item .text {
    width: 100%;
  }
  .wrap.pc .content .info-list--item.bg .text .strong {
    font-size: 3rem;
  }
  .wrap.pc .content .info-list--item.bg::before {
    top: -30px;
    width: 100vw;
    height: 80vw;
  }
}

.wrap.pc .content .info-bottom {
  margin: 30px 0;
}

.wrap.pc .content .info-bottom .link-list {
  text-align: center;
  margin: 25px 0 10px;
  font-size: 1.5rem;
}

.wrap.pc .content .info-bottom .link-list a {
  margin: 0 10px;
  color: #3a3a3a;
  font-weight: 400;
  white-space: nowrap;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .content .info-bottom .link-list a {
    font-size: 1.4rem;
  }
}

.wrap.pc .content .info-bottom p {
  text-align: center;
  color: #838383;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .content .info-bottom p {
    font-size: 1.4rem;
  }
}

.wrap.pc .content .info-bottom--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap.pc .content .info-bottom--item {
  border: 1px solid #e8e8e8;
  display: inline-block;
  width: 30%;
  max-width: 110px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  border-radius: 30px;
}

.wrap.pc .content .info-bottom--item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.wrap.pc .content .info-bottom--item img {
  height: 30px;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .content .info-bottom--item {
    height: 40px;
    max-width: 90px;
  }
  .wrap.pc .content .info-bottom--item img {
    height: 25px;
  }
}

.wrap.pc .list-tit {
  font-size: 2.4rem;
  border-bottom: none;
  padding-bottom: 25px;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .list-tit {
    font-size: 2rem;
  }
}

.wrap.pc .accordion-list--item {
  border-bottom: none;
}

.wrap.pc .accordion-list--item .btn-tit {
  border: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 15px 20px 15px 90px;
  position: relative;
  font-size: 2rem;
}

.wrap.pc .accordion-list--item .btn-tit .q {
  position: absolute;
  left: 35px;
  top: 9px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #0f7bff;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .accordion-list--item .btn-tit {
    font-size: 1.6rem;
    padding: 9px 20px 10px 35px;
  }
  .wrap.pc .accordion-list--item .btn-tit .q {
    top: 5px;
    left: 10px;
    font-size: 2rem;
  }
}

.wrap.pc .accordion-list--item .con {
  margin-bottom: 10px;
  border-top: none;
  padding: 0 20px 0 90px;
  position: relative;
  font-size: 2rem;
  font-weight: 300;
  -webkit-transition: unset;
  transition: unset;
}

.wrap.pc .accordion-list--item .con .a {
  position: absolute;
  left: 38px;
  top: 20%;
  font-size: 2.4rem;
  font-weight: bold;
  color: #ff7d26;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .accordion-list--item .con {
    padding: 0 20px 0 35px;
    font-size: 1.6rem;
  }
  .wrap.pc .accordion-list--item .con .a {
    top: 12%;
    left: 12px;
    font-size: 2rem;
  }
}

.wrap.pc .accordion-list--item .btn-tit.active {
  color: #0c0c0c;
}

.wrap.pc .accordion-list--item .btn-tit.active + .con {
  border-top: none;
  padding: 20px 20px 20px 90px;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .accordion-list--item .btn-tit.active + .con {
    padding: 20px 20px 20px 35px;
  }
}

.wrap.pc .footer {
  background: #e2e5ea;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap.pc .footer-wrap {
  width: 1200px;
  position: relative;
  padding: 0 20px;
}

.wrap.pc .footer-info {
  margin-top: 10px;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .footer-info {
    margin-top: 20px;
  }
}

.wrap.pc .footer-info--wrap {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 300;
}

.wrap.pc .footer-info--item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 35px;
  position: relative;
}

.wrap.pc .footer-info--item .m-none {
  margin: 0 3px;
}

.wrap.pc .footer-info--item:after {
  content: "";
  display: block;
  width: 1px;
  height: 13px;
  background: #808080;
  position: absolute;
  right: -19px;
  top: 2px;
}

.wrap.pc .footer-info--item:last-child:after {
  display: none;
}

@media only screen and (max-width: 580px) {
  .wrap.pc .footer-info--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0;
  }
  .wrap.pc .footer-info--item .label {
    width: 110px;
    color: #969696;
  }
  .wrap.pc .footer-info--item::after {
    display: none;
  }
}

.wrap.pc .footer-logo {
  width: 58px;
  height: 65px;
  background: url(../images/logo_black.svg) no-repeat center;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: -10px;
  -webkit-filter: invert(75%) sepia(11%) saturate(96%) hue-rotate(174deg) brightness(85%) contrast(92%);
          filter: invert(75%) sepia(11%) saturate(96%) hue-rotate(174deg) brightness(85%) contrast(92%);
}

@media only screen and (max-width: 580px) {
  .wrap.pc .footer-logo {
    width: 40px;
    height: 44px;
    top: 0;
  }
}

.wrap.splash {
  background: #0f7bff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrap.splash .logo svg {
  width: 20vw;
  -webkit-filter: invert(100%) sepia(12%) saturate(7451%) hue-rotate(217deg) brightness(116%) contrast(111%);
          filter: invert(100%) sepia(12%) saturate(7451%) hue-rotate(217deg) brightness(116%) contrast(111%);
}

.wrap.splash .greeting {
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 80px;
}

.wrap.splash .btn {
  height: 50px;
}

.wrap.splash .btn-myhome {
  padding: 0 30px;
  background: #fff;
  color: #0f7bff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.wrap.splash .btn-myhome img {
  -webkit-filter: invert(44%) sepia(50%) saturate(5903%) hue-rotate(201deg) brightness(98%) contrast(106%);
          filter: invert(44%) sepia(50%) saturate(5903%) hue-rotate(201deg) brightness(98%) contrast(106%);
  width: 13px;
  margin-right: 7px;
}

.wrap.splash .btn-review {
  font-weight: 400;
  font-size: 1.6rem;
  width: 70%;
  background: #308dff;
  position: absolute;
  left: 15%;
  bottom: 30px;
  color: #fff;
}

.wrap.splash .btn-login {
  font-weight: 400;
  font-size: 1.6rem;
  width: 70%;
  background: #fff;
  position: absolute;
  left: 15%;
  bottom: 100px;
  color: #0f7bff;
}

.wrap.splash .btn.naver:before {
  content: "";
  display: inline-block;
  background: url(../images/icon/logo_naver.svg) no-repeat center;
  background-size: 100%;
  width: 18px;
  height: 20px;
  margin: 3px 5px 0 0;
}

.wrap.splash .btn.kakao:before {
  content: "";
  display: inline-block;
  background: url(../images/icon/logo_kakao.svg) no-repeat center;
  background-size: 100%;
  width: 18px;
  height: 20px;
  margin: 3px 5px 0 0;
}

.wrap.splash .btn.apple:before {
  content: "";
  display: inline-block;
  background: url(../images/icon/logo_apple.svg) no-repeat center;
  background-size: 100%;
  width: 18px;
  height: 24px;
  margin: 0px 5px 0 0;
}

.wrap.splash .main-btn {
  width: 100%;
  margin-left: 30%;
}

.wrap.splash .main-btn .btn {
  font-weight: 400;
  font-size: 1.6rem;
  width: 70%;
  background: #fff;
  color: #0f7bff;
  margin-bottom: 20px;
}

@supports (-webkit-touch-callout: none) {
  .wrap {
    min-height: -webkit-fill-available;
  }
  html,
  body {
    position: fixed;
    overflow: hidden;
  }
  #app {
    width: 100vw;
    height: -webkit-fill-available;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* enables “momentum” (smooth) scrolling */
  }
  .review-list--item .bottom .btn {
    color: #000;
    white-space: nowrap;
  }
  .vue-picker__opener-txt,
  .vue-picker-option {
    color: #000;
    outline: none;
  }
  .content {
    min-height: unset !important;
  }
  .map-wrap {
    max-height: calc(100vh - 330px);
    overflow: hidden;
  }
  .question-menu {
    height: -webkit-fill-available;
  }
  .btn {
    padding: 0;
  }
  .btn-md {
    padding: 10px 15px;
  }
  .question-menu .menu-list--item {
    white-space: nowrap;
  }
  .accordion-list--item .btn-tit {
    color: #000;
  }
  .text-list--item .tit {
    color: #000;
  }
  .vue-picker-option {
    font-size: 1.4rem;
  }
}

.question-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.question-menu.right .menu-list {
  left: unset;
  right: 20px;
  border-radius: 20px 0 20px 20px;
}

.question-menu.active {
  z-index: 99;
  opacity: 1;
}

.question-menu .dim {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.question-menu .menu-list {
  background: #fff;
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: 100;
  padding: 0 10px;
  border-radius: 0 20px 20px 20px;
}

.question-menu .menu-list--item {
  padding: 15px 10px;
  border-bottom: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.question-menu .menu-list--item:last-child {
  border-bottom: none;
}

.question-menu .menu-list--item img {
  height: 20px;
  margin-right: 5px;
}

.header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}

.header-tit {
  font-size: 1.8rem;
  font-weight: 500;
}

.header .search {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
  background: url(../images/icon/search.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0;
}

.header .input {
  border: none;
  outline: none;
  width: 70%;
  font-size: 1.4rem;
  font-weight: 600;
}

.header .input::-webkit-input-placeholder {
  color: #cbcbcb;
  font-weight: 400;
}

.header .input:-ms-input-placeholder {
  color: #cbcbcb;
  font-weight: 400;
}

.header .input::-ms-input-placeholder {
  color: #cbcbcb;
  font-weight: 400;
}

.header .input::placeholder {
  color: #cbcbcb;
  font-weight: 400;
}

.header .btn-star {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px);
  width: 25px;
  height: 25px;
  border-radius: 0;
  background: url(../images/icon/star_line.svg) no-repeat;
  background-size: 100%;
  -webkit-filter: invert(85%) sepia(60%) saturate(2056%) hue-rotate(326deg) brightness(102%) contrast(101%);
          filter: invert(85%) sepia(60%) saturate(2056%) hue-rotate(326deg) brightness(102%) contrast(101%);
}

.header .btn-star.active {
  background: url(../images/icon/star.svg) no-repeat;
  background-size: 100%;
}

.header .btn-search {
  width: 70%;
  border: 1px solid #eee;
  color: #bbb;
  font-weight: 300;
  font-size: 1.4rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 35px;
  padding: 0 10px;
}

.header .btn-search img {
  width: 18px;
  margin-right: 5px;
  opacity: 0.2;
}

.header .btn-search.text {
  color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
}

.header .btn-back {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  background: url(../images/icon/back.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0;
}

.header .btn-question {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 20px;
  top: calc(50% - 10px);
  background: url(../images/icon/question.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0;
}

.header .btn-question.right {
  left: unset;
  right: 20px;
}

.header .btn-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
  background: url(../images/icon/menu.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0;
}

.header .btn-close {
  width: 20px;
  height: 20px;
  background: url(../images/icon/close.svg) no-repeat;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: calc(50% - 10px);
}

.header .right {
  position: absolute;
  right: 20px;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 50px);
}

.content.bg {
  background: #eff1f5;
}

.content.bg-grey {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.content.bottom-exist {
  padding-bottom: 100px;
}

.content.top-exist {
  padding-top: 56px;
  padding-bottom: 0;
  height: 100vh;
}

.content.keypad-exist {
  padding-bottom: 45vh;
}

.con-bottom {
  padding: 25px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 101;
  background: #fff;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.con-bottom.top {
  bottom: unset;
  top: 0;
  -webkit-box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.3);
}

.con-bottom .review-top {
  top: 0;
}

.con-bottom .header-tit {
  width: 100%;
  text-align: center;
  text-indent: -10px;
}

.con-bottom .sale-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.con-bottom .sale-info .img-wrap {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  background: #ccc;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con-bottom .sale-info .img-wrap img {
  max-width: 100%;
  height: 100%;
}

.con-bottom .sale-info .info {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  font-size: 1.6rem;
  width: calc(100% - 20vw);
}

.con-bottom .sale-info .info .tit {
  margin-bottom: 6px;
}

.con-bottom .sale-info .info .price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.con-bottom .sale-info .info .price-wrap .low {
  color: #344baf;
}

.con-bottom .sale-info .info .price-wrap .low:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon/arrow_up.svg) no-repeat;
  background-size: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-filter: invert(25%) sepia(81%) saturate(1336%) hue-rotate(207deg) brightness(91%) contrast(87%);
          filter: invert(25%) sepia(81%) saturate(1336%) hue-rotate(207deg) brightness(91%) contrast(87%);
}

.con-bottom .sale-info .info .price-wrap .high {
  color: #f76666;
}

.con-bottom .sale-info .info .price-wrap .high:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../images/icon/arrow_up.svg) no-repeat;
  background-size: 100%;
  -webkit-filter: invert(49%) sepia(45%) saturate(872%) hue-rotate(313deg) brightness(107%) contrast(94%);
          filter: invert(49%) sepia(45%) saturate(872%) hue-rotate(313deg) brightness(107%) contrast(94%);
}

.con-bottom .sale-info .info .price-wrap .price {
  margin-left: 5px;
  color: #000;
}

.con-bottom .font-size--14 + .btn-list {
  right: -5px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1000;
}

.popup.active {
  display: block;
}

.popup.alert .popup-wrap {
  width: 90vw;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1001;
  background: #fff;
  border-radius: 10px;
}

.popup-dim {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup-con {
  text-align: center;
  padding: 40px 20px;
}

.popup-con .modi-capital {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
}

.popup-con .modi-capital .text-left {
  padding: 0 15px 0 10px;
}

.popup-con .modi-capital .box {
  background: #efefef;
  color: #000;
  font-size: 1.7rem;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-con .modi-capital .box + .text-right {
  padding-right: 17px;
}

.popup-con .modi-capital .box .num {
  font-family: "NotoSans", sans-serif;
  font-size: 1.7rem;
  border: none;
  outline: none;
  background: transparent;
  text-align: right;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
  border-top: 1.9px solid #eee;
}

.popup-btn .btn {
  font-size: 1.5rem;
  width: 50%;
  padding: 10px 0;
}

.popup-btn .btn.left {
  color: #828282;
}

.popup-btn .btn.right {
  color: #0f7bff;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.box-line {
  height: 10px;
  background: #f8f8f8;
  width: calc(100% + 40px);
  position: relative;
  left: -20px;
  border-top: 1px solid #dfdfdf;
}

.box-line.border-none {
  border-top: none;
}

.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

@keyframes load5 {
  0%,
  100% {
    -webkit-box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.m-block {
  display: none;
}

@media only screen and (max-width: 580px) {
  .m-block {
    display: block;
  }
}

.m-none {
  display: block;
}

@media only screen and (max-width: 580px) {
  .m-none {
    display: none;
  }
}
/*# sourceMappingURL=common.css.map */